{% extends 'front_base.html.twig' %}

{% block title %}NewsScan - Login{% endblock %}

{% block main %}
    <section class="row">
        <div class="offset-md-2 col-md-8 col-12">
            <h1>Formulaire de connexion</h1>
            <div class="container row">
                <div class="col-12">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                            </div>
                        {% endif %}
                        <label for="inputEmail">Saisissez votre e-mail</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                               class="form-control" placeholder="exemple@domaine.com" required autofocus>
                        <label for="inputPassword">Saississez votre mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control"
                               placeholder="Mot de passe" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        <div class="center">
                            <p>Pas encore de compte ?
                                <a href="{{ path('user_new') }}">Inscription</a>
                            </p>
                        </div>
                        <button class="btn btn-success" type="submit">
                            Connexion
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
