{% extends 'base.html.twig' %}

{% block title %}Edit TargetSource{% endblock %}

{% block body %}
    <h1>Edit TargetSource</h1>

    {{ include('target_source/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('target_source_index') }}">back to list</a>

    {{ include('target_source/_delete_form.html.twig') }}
{% endblock %}
