// Imports fonts, variable, Makapi Class and animations
@import "~bootstrap/scss/bootstrap";
@import "variable/global";
@import "fonts/fonts";

* {
    padding: 0;
    margin: 0;
}
html, body {
    background-color: $colorNewsScanLightWhite;
    color: #131b2b;
}
body {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 600;
    font-style: normal;
    margin: 30px;
}

.input {
    width: 260px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(142, 142, 147, 0.12);
    margin: 15px auto;
}

.vl {
    border-top: 1px solid $colorNewsScanLightBlue;
    width: 200px;
    height: 2px;
    height: 2px;
    margin-top: 10px;
}

@import "override/boostrap";
@import "newsscan/class/class";

