<form action="{{ path('app_review_add') }}" method="post">
    <input type="text" name="urlArticle" hidden="hidden" value="{{ articleUrl }}"/>
    <button type="submit" class="btn btn-danger">C'est une fake</button>
</form>