{% extends 'front_base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block main %}
    <div class="container" style="text-align: center">
        <h1>Nos news</h1>

        {% for blog in blogs %}
                <div class="card-article" style="width: 400px;height: 200px;background-color: rgba(0, 0, 0, 0.5);">
                    <img src="{{ asset('images/newsscan/fake_news.png') }}" width="100%">
                    <a href="{{ path('app_front_blog_show', {'id': blog.id}) }}">

                        <div class="card-article-body">
                            <label><b>{{blog.title }}</b></label>
                            <p >{{ blog.createdAt |date("d/m/Y")}}</p>

                        </div>
                    </a>

                </div>

        {% endfor %}
    </div>

{% endblock %}
