{% extends 'front_base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block main %}
    <div class="container" style="text-align: center;">
        <div class="row">
            <a href="{{ path('app_front_blog_index') }}" class="blue" >< Retour</a>
            <h1 class="col-11">{{ blog.title }}</h1>

        </div>
        <label>{{ blog.createdAt |date("d/m/Y") }}</label>
        <p>{{ blog.body }}</p>
    </div>
{% endblock %}
