{% extends 'front_base.html.twig' %}

{% block title %}NewsScan - Accueil{% endblock %}

{% block main %}

        <form action="{{ path('app_default_show') }}" method="post">
            <div class="form-group">
                <label for="link-search">Hey ! Insère le lien de l'article :)</label>
                <input type="text" name="linkSearch" class="form-control" id="link-search" placeholder="https://example.com">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
{% endblock %}