{% extends 'base.html.twig' %}

{% block title %}Index Front{% endblock %}

{% block body %}
    <main>
        <p>Coucou</p>
        <a class="btn btn-primary" href="#">Coucou</a>
    </main>
{% endblock %}