{% extends 'front_base.html.twig' %}

{% block title %}NewsScan - Accueil{% endblock %}

{% block main %}
        <div class="row">
            <div class="offset-md-3 col-md-6 col-12">
                <h1>NewsScan</h1>
                <p>L'algorithme, qui vous indique l'indice de confiance d'un article !</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-3 col-md-6 col-12">
                <h4>Connâitre la fiabilité de votre article</h4>
                <form action="{{ path('app_default_show') }}" method="post">
                    <div class="form-group">
                        <label for="link-search">Hey ! Insère le lien de l'article</label>
                        <input type="text" name="linkSearch" class="form-control" id="link-search" placeholder="https://example.com">
                    </div>
                    <button type="submit" class="btn btn-primary">Scanner</button>
                </form>
            </div>
        </div>
{% endblock %}