{% extends 'front_base.html.twig' %}

{% block title %}NewsScan - Accueil{% endblock %}

{% block main %}
        <div class="row">
            <div class="offset-md-3 col-md-6 col-12 n-logo-home">
                <img height="300" src="{{ asset('images/newsscan/svg/logo_home.svg') }}" alt="Logo Newscan">
            </div>
        </div>
        <div class="row">
            <div class="offset-md-3 col-md-6 col-12">
                <form action="{{ path('app_default_show') }}" method="post" class="n-home-form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="material-icons">
                                        search
                                    </i>
                                </div>
                            </div>
                            <input id="n-input-link-home" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Saisissez votre lien">
                        </div>
                    </div>
                    <button id="n-button-home" type="submit" class="btn n-btn-secondary text-light">SCANNER</button>
                </form>
            </div>
        </div>
{% endblock %}
