{% extends 'front_base.html.twig' %}

{% block title %}NewsScan - Accueil{% endblock %}

{% block main %}
        <div class="row">
            <div class="offset-md-3 col-md-6 col-12">
                <img height="300" src="{{ asset('images/newsscan/svg/logo_home.svg') }}" alt="Logo Newscan">
            </div>
        </div>
        <div class="row">
            <div class="offset-md-3 col-md-6 col-12">
                <form action="{{ path('app_default_show') }}" method="post">
                    <div class="form-group">
                        <input type="text" name="linkSearch" class="form-control" id="link-search" placeholder="https://example.com">
                    </div>
                    <button type="submit" class="btn btn-primary">Scanner</button>
                </form>
            </div>
        </div>
{% endblock %}
