{% extends 'base.html.twig' %}

{% block title %}Qui somme nous ?{% endblock %}

{% block body %}
    <main>
        <p>L’équipe NewScan a vu le jour lors du Hackathon 2019 regroupant l’ESGI, l’ECITV, l’ICAN et PSVA. Elle rassemble 2 développeurs de l’ESGI, 2 designers de l’ICAN et un marketeur de l’ECITV.

            Nous avions le désir de répondre à un problème que beaucoup d’entre nous rencontrent : Comment savoir si un article est fiable ou non ?

            Grâce aux compétences de chacun d’entre nous, nous avons développé un outil permettant de calculer un score de fiabilité en fonction de plusieurs critères de qualité rédactionnelle. Il sera donc plus simple de déterminer si un article a l’air fiable ou non.

            Attention : Newscan ne donne pas de jugement définitif sur la fiabilité d'un article, il donne uniquement un indice de fiabilité à l'utilisateur pour l'orienter dans son jugement de l'article.</p>
    </main>
{% endblock %}

{% block javascripts %}
{% endblock %}
