
.icon-thumb-down:before { content: '\e800'; } /* '' */
.icon-logo-icone-12:before { content: '\e801'; } /* '' */
.icon-logo-web-11:before { content: '\e802'; } /* '' */
.icon-social-facebook-circular-button:before { content: '\e803'; } /* '' */
.icon-social-linkedin-circular-button:before { content: '\e804'; } /* '' */
.icon-social-twitter-circular-button:before { content: '\e805'; } /* '' */