@import "_parts/button";


.profil-card{
  display: grid;
  text-align: center;
  width:auto;
  margin-right: 150px;

}

.profil-img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center right;
  margin-left: 10px;
}

.profil-img-chef{
  border-radius: 50%;
  height: 125px;
  width: 125px;
  object-fit: cover;
  object-position: center right;
  margin-left: 10px;
}
