@import "_parts/button";


.profil-card{
  display: grid;
  text-align: center;
  width:auto;
  margin-right: 150px;

}

.profil-img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center right;
  margin-left: 10px;
}

.profil-img-chef{
  border-radius: 50%;
  height: 125px;
  width: 125px;
  object-fit: cover;
  object-position: center right;
  margin-left: 10px;
}

.mention-legales {
  color: $colorNewsScanLightBlue;
  text-decoration: underline;
}
main {
  min-height: 85vh;
}
.footer {
  margin-top: 30px;
  bottom: 0;
  text-align: center;
}

.card-article {
  position: relative;
  margin: auto;
}

.card-article-body {
  width: 100%;
  height: 50px;
  background-color: rgba(38,176,189,0.5) !important;
  position: absolute;
  bottom: 0;
  color: white;
  text-align: left;
  padding-left: 5px;
  font-size: 11px;
}

.blue {
  color: $colorNewsScanLightBlue;
}

@media screen and (max-width: 800px) {
  .profil-card{
    display: grid;
    text-align: center;
    width:auto;
    margin-right: 25px;
  }
}
@import "_parts/text";
@import "_parts/icons";
@import "_parts/page_parts";
@import "_parts/home";
@import "_parts/showArticle";
