{% extends 'front_base.html.twig' %}

{% block title %}Admin index{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-md-8 col-12">
                <h1>Où voulez-vous aller ?</h1>
                <a class="btn btn-info" href="{{ path('app_blog_index') }}">Gérer les news</a>
                <a class="btn btn-info" href="{{ path('target_source_index') }}">Gérer les domaines</a>
            </div>
        </div>
    </div>
{% endblock %}
