{% extends 'front_base.html.twig' %}

{% block title %}Oops !{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Une erreur s'est produite !</h1>
                <p>
                    Nous souhaitons nous excuser pour la gêne occasionnée.
                </p>
                <p>
                    Si le problème persiste, n'hésitez pas à nous contacter : <a href="mailto:contact@newscan.com">contact@newscan.com</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
