.n-btn-primary {
  width: 98px;
  height: 30px;
  border-radius: 18px;
  border: solid 2.5px $colorNewsScanLightBlue;
  background-color: #ffffff;
}

.n-btn-secondary {
  width: 125px;
  height: 35px;
  border-radius: 18.5px;
  background-color: $colorNewsScanLightBlue;
}

.n-btn-thirdly  {
  width: 125px;
  height: 35px;
  border-radius: 18.5px;
  border: solid 2.5px #1fa3af;
  background-color: #ffffff;
}
