.n-btn-primary {
  padding: 3px 15px;
  border-radius: 18px;
  border: solid 1px $colorNewsScanLightBlue;
  background-color: #ffffff;
}

.n-btn-secondary {
  width: 125px;
  height: 35px;
  border-radius: 18.5px;
  background-color: $colorNewsScanLightBlue;
}

.n-btn-thirdly  {
  width: 125px;
  height: 35px;
  border-radius: 18.5px;
  border: solid 2.5px #1fa3af;
  background-color: #ffffff;
}
.btn-faker {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: flex;
  > i {
    margin: auto;
    font-size: 24px;
  }
  &.disabled {
    cursor: text;
    color: $colorNewsScanLightWhite;
    background-color: $colorNewsScanBlack;
  }
}
