div.n-article-content {
  text-align: center;
}

div.n-content-targeted-article {
  p {
    margin-bottom: 0;
  }
}

section#n-content-score {
  margin-top: 45px;
}
section#n-content-article {
  margin-top: 45px;
  h4 {
    margin-top: 15px;
  }
}